<!DOCTYPE html>
<html>
<head>
	<title>首页</title>
	<link rel="stylesheet" type="text/css" href="/static/{{datas.skin}}">
</head>
<body>
	<!-- set name =  -->
	<h1>{{datas.appName}}</h1>
	<a href="/add">添加新任务</a>
	<hr />
	{% for task in datas.tasks %}
		
		<!-- {% if task.done %}
			{% set name = 'done' %}
		{% else %}
			{% set name = '' %}
		{% endif%} -->

		{% if task.done %}
			<li class="{{name}}">
				<input type="checkbox" onclick="change({{task.id}})" checked name="">
				[{{task.id}}] - {{task.title}} 
				<a href="/remove/{{task.id}}">删除</a>
			</li>
		{% else %}
			<li class="{{name}}">
				<input type="checkbox"  onclick="change({{task.id}})" name="">
				[{{task.id}}] - {{task.title}} 
				<a href="/remove/{{task.id}}">删除</a>
			</li>
		{% endif%}
		
	{% endfor %}

	<script>
		function change(id){
			window.location.href = '/change/'+id;
		}
	</script>
</body>
</html>